.fade-in-from-bottom {
  transition: all 2s;
  animation: fadeInFromBottom 2s ease alternate forwards;
}
@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.orderly-fadein-from-right {
  opacity: 1;
  transition: all 2s;
  animation: fadeInFromRight 1s ease-in both;
}

@keyframes slip {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

.slip {
  animation: slip 1s forwards;
}
